/* color definition */
$link-color: #4e8f0d;
$nav-border-color: #ebebed;

html {
    font-size: 15px;
    line-height: 15px
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .875em;
    line-height: 1.4em;
}

img {
    border-style: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    box-shadow: 3px 5px 5px $nav-border-color;
    min-width: 290px;
}

a {
    color: $link-color;
}